:root {
    --color-dark-primary: #232323;
    --color-primary: #d22828;
    --color-secondary: #044747;
    --color-nuetral: #c28787;
    --color-dark-secondary: #2e2e2e;
    --color-light: #e6e6e6;
    --color-gray: #a2abaf;
}